/* Basic nav styling */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 60px;
  transform: scale(1.5);
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.CompanyName {
  flex-grow: 1;
  text-align: center;
}

.CompanyName h1 {
  margin: 0;
  font-size: 24px;
  color: #090909;
}

/* Dropdown Menu Styling */
.menu-container {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 70px;
  right: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #0d0d0d;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  background-color: #f4f3f0;
}

/* Button styling */
button.login-button {
  background-color: transparent;
  color: #090909;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 20px 20px 30px rgba(227, 228, 237, 0.37);
}

button.login-button:hover {
  background-color: rgba(227, 228, 237, 0.2);
  box-shadow: 20px 20px 50px rgba(227, 228, 237, 0.37);
}

/* The hamburger menu icon is visible across all screen sizes */
.menu-icon {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: #090909;
}

/* Show menu when the class 'show-menu' is active */
.show-menu {
  display: flex;
}

/* Responsive design starts here */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .menu-container.show-menu {
    display: flex;
  }

  .menu li a {
    font-size: 16px;
  }
}

/* For larger screens (laptops and desktops) */
@media (min-width: 769px) {
  .menu-container {
    display: none; /* Initially hidden for all sizes */
    flex-direction: column; /* Ensure it remains a dropdown on large screens */
    width: auto;
    padding: 10px 0;
    box-shadow: none;
  }

  .menu {
    flex-direction: column; /* Stack the items in the dropdown */
    gap: 15px;
  }

  .menu-icon {
    display: block; /* Ensure the icon is always visible */
  }

  .menu-container.show-menu {
    display: flex; /* Show the menu on larger screens when toggled */
  }
}
