.Paragraph {
    display: flex; /* Correct property is 'flex' */
    height: 250px;
    width: 100%;
    align-items: center; /* Vertically center content */
    justify-content: space-around;
}
p{
    font-size: 25px;
    font-style: bold;
}
h1{
    font-size: 50px;
    margin-left: 90px;
}


.btnn {
    background-color: black;
    color: white;
    margin-right: 25px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnn:hover {
    background-color: #333; 
}
